---
interface Props {
  title: string
  company: string
  description: string
  date: string
  logo?: string
}

const { title, company, description, date, logo } = Astro.props
---

<div class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4">
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0 animate-fade-in-up">
      <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl animate-pulse">&bull;</span>
      {logo && (
        <img src={logo} alt={`${company} logo`} class="h-10 w-10 object-contain mb-2 rounded-md transition-transform duration-500 ease-in-out transform hover:scale-110" />
      )}
      <h3 class="text-xl font-bold text-yellow-400 animate-fade-in">{title}</h3>
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white animate-fade-in">{company}</h4>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80 animate-fade-in">{date}</time>
    </div>
  </div>
  <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3 animate-fade-in">
    {description}
  </div>
</div>

<style>
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}
</style>
