---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Vite from "./icons/Vite.astro"  // Import the Vite icon
import Laravel from "./icons/Laravel.astro"
import ReactJS from "./icons/React.astro"
import CodeIgniter from "./icons/CodeIgniter.astro"


const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
   VITE: {
    name: "Vite.js",
    class: "bg-[#646CFF] text-white",
    icon: Vite,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#FF6969] text-white",
    icon: Laravel,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#1A2130] text-white",
    icon: ReactJS,
  },
  CODEIGNITER: {
    name: "CodeIgniter",
    class: "bg-[#1A2130] text-white",
    icon: CodeIgniter,
  }
}

const PROJECTS = [
  {
    title: "System Management Blog Post",
    description: "",
    github: "https://github.com/sayyidazizii/react-crud",
    image: "/projects/p3.png",
    tags: [TAGS.VITE, TAGS.REACT, TAGS.LARAVEL],
  },
  {
    title: "Image Gallery",
    description: " ",
    github: "https://github.com/sayyidazizii/creative-fusion-showcase",
    image: "/projects/p6.png",
    tags: [TAGS.REACT],
  },
  {
    title: "School Website",
    description: " ",
    github: "https://github.com/sayyidazizii/sample-web-sekolah",
    image: "/projects/p4.png",
    tags: [TAGS.LARAVEL],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2 relative">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50 hover:animate-pulse">
            <img 
              alt={title} 
              class="object-cover object-top w-full h-56 transition duration-500 ease-in-out sm:h-full md:scale-110 md:group-hover:scale-105 transform hover:rotate-2 hover:scale-110" 
              loading="lazy" 
              src={image} 
            />
            
            {/* GitHub icon that appears on hover */}
            {github && (
              <a href={github} class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100 bg-black/60">
                <GitHub class="size-10 text-white animate-bounce" />
              </a>
            )}
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg transition-transform duration-500 ease-in-out transform group-hover:translate-x-2">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100 transition-transform duration-500 ease-in-out transform group-hover:translate-y-2 group-hover:scale-105">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 transition-transform duration-500 ease-in-out transform group-hover:translate-x-1`}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <div class="mt-2 text-gray-700 dark:text-gray-400 transition-opacity duration-500 ease-in-out group-hover:opacity-75">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {/* Additional buttons or links can be added here */}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>





